<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
      table tr td{
        border: solid 1px black
      }
    </style>
  </head>
  <body>
    <table>
      <tr>
        <td>STT</td>
        <td>Ten san pham</td>
        <td>Mo ta</td>
        <td>Hinh</td>
        <td>Chinh sua</td>
      </tr>
      <tr>
        <td>1</td>
        <td>Quan nam</td>
        <td>ksjahv skjdhiu dsafh7 duacici</td>
        <td><img src="1.png" width="100px"></td>
        <td><a href="#">Sua</td>
      </tr>
    </table>
  </body>
</html>
